body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

#header {
    width: 50%;
    margin: auto;
    
    position: relative;
    min-height: 80px;
    background-color: #ffffff;

    box-shadow: 0px 6px 5px -4px #00000025;
}

#header-content {
    position: absolute;
}

#navigation {
    width: 50%;
    margin: auto;

    position: relative;
    background:#00000025;
    height: 60px;
}

#nav-container {
    position: absolute;
    bottom: 0px;
    left: 10px;
}
.nav-btn {
    background-color: #ffffff;
    color: #000000;

    border-radius: 4px 4px 0px 0px;
    border-style: none;

    min-width: 120px;
    max-width: 120px;

    height: 25px;

    transition-duration: .15s;
}

.nav-btn:hover {
    background-color: #b0e6e6;
    color: #ffffff;
    box-shadow: 0px 2px 5px 0px #b0e6e6;
}

hr {
    border-style: solid none none none;
    border-width: 1px;
    border-color: #00000050;
}

.title {
    text-align: left;
    padding: 0px;
    padding-left: 15px;

    font-size: 28pt;
    color: #ffffff;
    -webkit-text-stroke: 1px #57989c;
    text-shadow: 2px -2px 0px #57989c;
}
/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 10px;
    
    padding: 15px;
    font-size: 17pt;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
    border: 8px solid ;

  }
  
  .row{
    margin-left: auto;
    margin-right: auto;
  }
  /* Create two columns that float next to eachother */
  .column {
    
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }